#content
  min-height 550px
.margin-right
  margin-right 15px

.title
  font-size 18px
  font-weight: bold

/* 面包屑 */
div.bread-nav
  margin 15px 0
  text-align: left
  font-size 14px
  color #1f1f1f
  &:last-child
    color #38C3F4

/* 侧边栏 */
.left-nav
  float left
  width 20%
  padding-bottom 200px
  background: #f5f5f5;
  background-size 100%

.left-nav .title
  padding 10px
  line-height 30px
  text-align center
  color #fff
  background-color #38C3F4

.left-nav .navSub-list li
  display block
  height 50px
  line-height 50px
  color #1f1f1f
  font-size 16px
  text-align center
  cursor pointer

.left-nav .navSub-list li.active
  color #38C3F4

/* 详情 */
.detail
  float left
  width 80%
  padding-left 40px
  box-sizing border-box
  padding-bottom 40px

.detail .title
  font-size 18px
  color #1f1f1f
  margin-bottom 20px
  text-align center

.description
  word-break break-all
  line-height 30px
