html, body, h1, h2, h3, h4, p, form, ul, li, a, span, i
  margin 0
  padding 0
  list-style none
  border none
  font-weight normal
  font-style normal

html, body
  height 100%
  width 100%
  font-size 16px

a
  color white
  text-decoration none

a:hover
  cursor pointer
  color #fff

#app
  width 100%
  overflow hidden
  min-width 1300px
  font-family Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  line-height 1.5

.content
  position relative
  width 1200px
  margin 0 auto

.container
  width 62.5%
  min-width 1200px
  margin 0 auto
  overflow hidden

.clearfix
  zoom 1

.banner
  @include full-width    // background: #eee;

.clear-margin-right
  margin-right 0 !important

.hidden
  display none

.black-text
  color #333333

.white-text
  color white
